/packages/standard-packages/versions.json
/packages/base-package/versions.json
/packages/file/versions.json
/packages/gridfs/versions.json
/packages/access-point/versions.json
/packages/tempstore/versions.json
/packages/collection/versions.json
/packages/storage-adapter/versions.json
/packages/data-man/versions.json
/packages/collection-filters/versions.json
/packages/worker/versions.json
/packages/upload-http/versions.json
/packages/filesystem/versions.json
/packages/filesaver/versions.json
/packages/s3/versions.json
/packages/dropbox/versions.json

/packages/standard-packages/packages/
/packages/base-package/packages/
/packages/file/packages/
/packages/gridfs/packages/
/packages/access-point/packages/
/packages/tempstore/packages/
/packages/collection/packages/
/packages/storage-adapter/packages/
/packages/data-man/packages/
/packages/collection-filters/packages/
/packages/worker/packages/
/packages/upload-http/packages/
/packages/filesystem/packages/
/packages/filesaver/packages/
/packages/s3/packages/
/packages/dropbox/packages/

.build*
.npm*
/nbproject*
/smart.lock
*.DS_Store
.idea
